@charset "utf-8";
/* CSS Document */
.box{
		width: 60%;
		margin: 0 auto;
}
.head{
	width: 100%;
	height: 80px;
	background-color:#fff;
	margin: 0 auto;
	margin-bottom: 30px;
	border-left: 8px inset #29F139;
}
.lanmu-deleteall{
	padding: 15px;
	background-color: #F0272B;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.lanmu-deleteall:hover{
	background-color:#C70307;
}
.lanmu-tianjia{
	padding: 15px 30px;
	background-color:#25A434;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.lanmu-tianjia:hover{
	background-color:#11881B;
}
.lanmu-content{
	width: 100%;
	background-color: #fff;
	box-shadow: 2px 2px 10px #c5c5c5;
	overflow: hidden;
	margin-bottom: 30px;
	transition: all .3s;
}
.lanmu-head{
	width:100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid #f5f5f5;
	position: relative;
}
.lanmu-head h1{
	display: inline;
	cursor: pointer;
}
.lanmu-head img{
	width: 30px;
	height: 30px;
	display: inline;
	cursor: pointer;
	vertical-align:sub;
}
.lanmu-table table{
	 border-collapse:collapse;
		margin: 10px auto;
		margin-bottom: 20px;
}

.lanmu-table table td{
	border: 1px solid #D7D7D7;
	height:50px; 
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#table-input input{
	width: 70px;
	height: 30px;
	border: none;
	margin-right: 5px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
#table-input input:nth-child(1){
	background-color: #2086E5;
}
#table-input input:nth-child(1):hover{
	background-color: #046ED1;
}
#table-input input:nth-child(2){
	background-color: #f44336;
}
#table-input input:nth-child(2):hover{
	background-color:#E8281A;
}
.lanmu-table table tr:not(:first-child){
	font-size: 15px;
	color: #232323;
	padding: 10px;
	text-indent: 10px;
}
.lanmu-table table tr:first-child{
	font-size: 15px;
	text-indent: 10px;
	color: #171717;
	font-weight: bold;
}
.lanmu-input input{
	width: 80%;
	height: 30px;
	border: none;
}
.lanmu-input input:focus{
	border: 1px solid #ccc;
}
.yiqi-xuanzhe input{
	width: 20px;
	height: 20px;
}
.lanmu-input-xuhao input{
	width: 25px;
	height: 25px;
	display: inline;
	position: absolute;
	left: 41%;
	top:25%;
	border: none;
	background-color: #ff9800;
	text-align: center;
	border-radius: 50%;
	color: #fff;
}
.lanmu-input-title{
	width: 80px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	color: #232323;
}
